<ion-view>
  <ion-nav-title>Details</ion-nav-title>

  <!-- Navigation -->
  <ion-nav-buttons side="right">
    <div class="button button-clear icon ion-android-done"  ng-click="save()">
    </div>
  </ion-nav-buttons>

  <!-- Content -->
  <ion-content padding="true">
    <!-- Spinner -->
    <div class="text-center">
      <ion-spinner class="spinner-balanced" ng-show="loading"></ion-spinner>
    </div>


    <div ng-show="!loading">

      <!-- Users image -->
      <div class="text-center">
        <img ng-src="{{profile.imageURL}}" class="image">
      </div>


      <ion-list>

        <!-- Email -->
        <ion-item class="item-divider item-icon-right listing-divider"><b>Email</b> <i class="icon ion-profile"></i></ion-item>
        <ion-item>
          <input style="border:0;  width: 100%;" ng-model="profile.email"></input>
        </ion-item>
        <br>

        <!-- Street -->
        <ion-item class="item-divider item-icon-right listing-divider"><b>Address</b> <i class="icon ion-profile"></i></ion-item>
        <ion-item>
          <input style="border:0; width: 100%;" ng-model="profile.street"></input>
        </ion-item>
        <br>


        <!-- City -->
        <ion-item class="item-divider item-icon-right listing-divider"><b>City</b> <i class="icon ion-profile"></i></ion-item>
        <ion-item>
          <input style="border:0; width: 100%;" ng-model="profile.city"></input>
        </ion-item>
        <br>

        <!-- Hours -->

        <ion-item class="item-divider item-icon-right listing-divider"><b>Avaliable Hours</b> 
          <i class="icon ion-plus small_button"></i>
            </div>

        </ion-item>

        <ion-item ng-repeat="date in profile.hours track by $index">
            <input style="border:0; width: 100%;" ng-model="profile.hours[$index]"></input>
        </ion-item> 

      </ion-list>
      <br>    

    <!-- Close the main content div and content -->  
    </div>
  </ion-content>
  
  <!-- Footer -->
  <ion-footer-bar class="bar-stable">
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="map()">
        <i class="icon ion-map"></i> Maps
      </div>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="report()">
        Report
        <i class="icon ion-android-alert"></i>
      </div>
    </div>
  </ion-footer-bar>
  
</ion-view>
