<ion-view> 
  <ion-nav-title>Listings</ion-nav-title>
  
  <ion-nav-buttons side="right">
    <div class="button button-clear icon ion-plus-round" ng-disabled="loading"  ng-click="addListing()">
    </div>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-footer">

    <ion-refresher class="spinner-balanced" on-refresh="reload()"></ion-refresher>
    <div class="text-center">
      <ion-spinner class="spinner-balanced" ng-show="loading"></ion-spinner>
    </div>
    <div ng-show="!loading">
      <h3>{{listingOwner.name}}</h3>
      <h4><b>{{listingOwner.city}}</b> <small>{{listingOwner.district}} </small></h4>
      <br>



      <ion-list class=" margin-bottom listing-background">        

        <ion-item ng-repeat="event in events">
          <div class="row">
            <div class="col text-left">
              <img ng-src="{{event.imageURL}}" class="image listing_image">
            </div>
            <div class="col col-70">
              <p> {{event.title}} </p>
              <p> {{event.price}} </p>
            </div>
          </div>
          <div class="row">
            <p> {{event.desc}} </p>
          </div>  
        </ion-item>

      </ion-list>
      <br>
      <br>
      <br>
      <br>
    </div>


  </ion-content>

  <ion-footer-bar class="bar-stable">
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="map()">
        <i class="icon ion-map"></i> Maps
      </div>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="report()">
        Report
        <i class="icon ion-android-alert"></i>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
