<ion-view> 
  <ion-nav-title>Listings</ion-nav-title>
  
  <ion-nav-buttons side="right">
    <div class="button button-clear icon ion-plus-round" ng-click="addListing()">
    </div>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-footer">

    <div class="text-center">
      <ion-spinner class="spinner-balanced" ng-show="loading"></ion-spinner>
    </div>
    <div ng-show="!loading">
      <h3>{{listingOwner.name}}</h3>
      <h4><b>{{listingOwner.city}}</b> <small>{{listingOwner.district}} </small></h4>
      <br>

      <ion-list class="margin-bottom listing-background">        

        <ion-item ng-repeat="event in events">
          <div class="row">
            <div class="col-30">
              <img ng-src="{{event.imageURL}}" class="listing_image">
            </div>
            <div class="col-70 padding" class="text-left">
          
              <p style="font-size: 18px; text-align: left; white-space: normal;"> {{event.title}} </p>
              <p style="font-size: 12px; text-align: left; white-space: normal;"> {{event.desc}} </p>
              <p style="font-size: 14px; text-align: left; white-space: normal;"> {{event.price}} </p>

            </div>
          </div>
      
        </ion-item>

      </ion-list>
      <br>
      <br>
      <br>
      <br>
    </div>


  </ion-content>

  <ion-footer-bar class="bar-stable">
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="map()">
        <i class="icon ion-map"></i> Maps
      </div>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="report()">
        Report
        <i class="icon ion-android-alert"></i>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
