<ion-view>
  <ion-nav-title>Listings</ion-nav-title>
  <ion-content padding="true" class="has-footer">
    <ion-refresher class="spinner-balanced" on-refresh="reload()"></ion-refresher>
    <div class="text-center">
      <ion-spinner class="spinner-balanced" ng-show="loading"></ion-spinner>
    </div>
    <div ng-show="!loading">
      <h3>{{owner.name}}</h3>
      <h4><b>{{owner.city}}</b> <small>{{owner.district}} </small></h4>
      <br>



      <ion-list class="listing_list margin-bottom">
        <ion-item class="item-divider item-icon-left"><b>{{event.name}}</b> </ion-item>
        

        <ion-item ng-repeat="event in events">
          <div class="row">
            <div class="col text-left">
              <img ng-src="{{event.imageURL}}" class="image listing_image">
            </div>
            <div class="col col-70">
              <p> {{event.title}} </p>
              <p> {{event.price}} </p>
            </div>
          </div>
          <div class="row">
            <p> {{event.desc}} </p>
          </div>  
        </ion-item>

      </ion-list>
      <br>
      <br>

    </ion-content>


    <ion-footer-bar class="bar-stable">
      <div class="buttons">
        <div class="button button-clear" ng-disabled="loading" ng-click="map()">
          <i class="icon ion-map"></i> Maps
        </div>
      </div>
      <h1 class="title"></h1>
      <div class="buttons">
        <div class="button button-clear" ng-disabled="loading" ng-click="report()">
          Report
          <i class="icon ion-android-alert"></i>
        </div>
      </div>
    </ion-footer-bar>

  

  </ion-view>
