<ion-view>
  <ion-nav-title>Messages</ion-nav-title>
  <ion-content>

    <ion-list class="margin-bottom listing-background">
      <ion-item ng-repeat="message in messages">

        <div class="button button-clear " ng-disabled="loading" ng-click="goChat(message.chatSource)">
         
          <div class="row">
            <div class="col-50">
 <i class="icon ion-ios-chatbubble">      
           </i> {{message.username}}
            </div>
            <div class="col-50">
              You have two new messages
            </div>
          </div>


        </div>
      </ion-item>

    </ion-list>

  </ion-content>