<ion-view>
  <ion-nav-title>Messages</ion-nav-title>
  <ion-content>
   
    <ion-refresher class="spinner-balanced" on-refresh="doRefresh()" ng-hide="!loading"></ion-refresher>

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"> </ion-refresher>
    <ion-list class="margin-bottom listing-background">
      <div ng-repeat="message in messages">
        <button ng-click="goChat(message.chatSource)" class="button button-icon icon ion-ios-chatbubble badge-container">                  
      {{message.username}}  
      
      <div ng-bind-html="newMessage(message.chatID, message.newMessageCount)"></div>  
          
                </button>


      </div>

    </ion-list>



  </ion-content>

</ion-view>