<ion-view>
  <ion-nav-title>Messages</ion-nav-title>
  <ion-content>

    <ion-list class="margin-bottom listing-background" ng-init="InitializeCode()">
      <div ng-repeat="message in messages">

        
          
                <button ng-click="goChat(message.chatSource)" class="button button-icon icon ion-ios-chatbubble badge-container">                  
      {{message.username}}  
      
      <div ng-bind-html="newMessage(message.chatID, message.newMessageCount)"></div>  
    
       </span>
            
                </button>


      </div>

    </ion-list>

    <div ng-init= "refresh()"> </div>

  </ion-content>

  </ion-view>